html {
    overflow: auto;
    margin: 0px auto;
}

.font {
    color: #82B7B7;
    position: relative;
}

#head {
    font-size: 180%;
    left: 3%;
    top: -7%
}

#log_in {

    position: relative;
    top: 0%;
    width: 90%;
}



button {
    background-color: #82B7B7;
    color: #FFFAFA;
    font-size: 100%;
    height: 30px;
    left: 90%;
    position: center;
    width: 130px;
}

input {
    background-color: #ECF6F5;
    border: 4px ridge #82B7B7;
    color: #82B7B7;
    font-size: 30px;
    height: 30px;
    width: 90%;
}

::-webkit-input-placeholder {color: #82B7B7; font-size: 20px; padding-top: 15px;}
::-moz-placeholder          {color: #82B7B7; font-size: 20px;}
:-moz-placeholder           {color: #82B7B7; font-size: 20px;}
:-ms-input-placeholder      {color: #82B7B7; font-size: 20px;}
